<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="/public/css/swiper.css">
    <title>Triatlón 2024</title>
</head>

<body>
    <header>
        <div class="header__container">
            <div class="header__container__logo">
                <div class="header__container__logo__img">
                    <img class="img-1" src="/public/img/dracula.png" alt="Logo">
                </div>
                <a href="/views/index.html">TRIATLÓN 2025</a>
                </div>

            <div class="header__container__gobi">
                <img  class="img-2" src="/public/img/logo gobi.png" alt="">
            </div>
        </div>

        <nav class="header__nav">
            <ul class="header__nav__list">
                <div class="participantes">
                <li><a href="/views/participantes.html">Participantes</a></li>
                </div>
                <div class="inscripcion">
                <li><a href="/views/inscripcion.html">Inscripciones</a></li>
                </div>
            </ul>
        </nav>
    </header>

    <main>
        <div class="carousel">
            <div class="carousel-track">
                <div class="carousel-slide"><img src="/public/img/141d1cda6f5da084c98059d3300be47b.png" alt="imagen de carousel de nado"></div>
                <div class="carousel-slide"><img src="/public/img/013e064b957c97ed4268901cb430255a7c9d86ce.png" alt="imagen de ciclismo"></div>
                <div class="carousel-slide"><img src="/public/img/f7c02fad5a99db8551ba35e4336716f3.png" alt="imagen de "></div>
            </div>
            <button class="carousel-button prev">❮</button>
            <button class="carousel-button next">❯</button>

        </div>
        <div class="boton2">
        <a href="/views/inscripcion.html">Inscripciones</a>
        </div>
    </main>

    <footer>
        <h3>Ministerio del Poder Popular Para el Deporte</h3>
        <h4>Desarrollado por la Dirección de Sistemas y Desarrollos de Tecnologías</h4>
        <h5>Copyright ©2024</h5>
    </footer>
    </main>
    <script src="/scripts/swiper.js"></script>
</body>

</html>